In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
sns.set()

In [17]:
movies_dataset_produccion = pd.read_csv(r'C:\Users\User\Documents\Henry\DataScience\Proyecto_Individual_1\Datasets\movies_dataset_produccion.csv', low_memory=False)

In [18]:
df_movies_produccion = pd.DataFrame(movies_dataset_produccion)

In [19]:
df_movies_produccion.head()

,adult,id,overview,popularity,title,vote_average,vote_count,release_year,release_month,genre,country,principal_cast,director
0,False,55475,Balbuena is a genial illegal immigrant who mak...,0.291021,Nueba Yol,5.5,1.0,1995,8,Comedy,Dominican Republic,NaN,Ángel Muñiz
1,False,18183,"Tita is passionately in love with Pedro, but h...",4.126083,Like Water for Chocolate,6.6,70.0,1992,4,Drama,Mexico,NaN,NaN
2,False,12527,"Havana, Cuba, 1979. Flamboyantly gay artist Di...",1.777197,Strawberry and Chocolate,7.1,16.0,1993,1,Comedy,Cuba,NaN,NaN
3,False,8223,"Kika, a young cosmetologist, is called to the ...",3.647321,Kika,6.8,58.0,1993,10,Comedy,France,NaN,NaN
4,False,4307,"Marisa Paredes is Leocadia (""Leo"") Macias, a w...",2.286788,The Flower of My Secret,6.9,43.0,1995,9,Drama,Spain,Marisa Paredes,NaN

In [21]:

# Crear un diccionario de mapeo
month_mapping = {
    1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril',
    5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto',
    9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'
}

# Reemplazar los valores en la misma columna 'release_month'
df_movies_produccion['release_month'] = df_movies_produccion['release_month'].map(month_mapping)

In [22]:
df_movies_produccion.head()

,adult,id,overview,popularity,title,vote_average,vote_count,release_year,release_month,genre,country,principal_cast,director
0,False,55475,Balbuena is a genial illegal immigrant who mak...,0.291021,Nueba Yol,5.5,1.0,1995,Agosto,Comedy,Dominican Republic,NaN,Ángel Muñiz
1,False,18183,"Tita is passionately in love with Pedro, but h...",4.126083,Like Water for Chocolate,6.6,70.0,1992,Abril,Drama,Mexico,NaN,NaN
2,False,12527,"Havana, Cuba, 1979. Flamboyantly gay artist Di...",1.777197,Strawberry and Chocolate,7.1,16.0,1993,Enero,Comedy,Cuba,NaN,NaN
3,False,8223,"Kika, a young cosmetologist, is called to the ...",3.647321,Kika,6.8,58.0,1993,Octubre,Comedy,France,NaN,NaN
4,False,4307,"Marisa Paredes is Leocadia (""Leo"") Macias, a w...",2.286788,The Flower of My Secret,6.9,43.0,1995,Septiembre,Drama,Spain,Marisa Paredes,NaN

In [23]:
# Exporto el DataFrame a un nuevo archivo CSV para, en adelante, trabajar con ese y no correr todo el codigo de nuevo
df_movies_produccion.to_csv('movies_dataset_produccion.csv', index=False)